body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    font-size: 28px;

    padding: 20px;
    
}

.center-table {
    margin: 40px auto;
    border-collapse: collapse;
    width: 70%;
}

.center-table th,
.center-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

p {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    font-size: 25px;
    padding: 20px;
    
}

ul {
  padding-left: 0; 
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    font-size: 23px;
    padding: 20px;

}


li {
  list-style-position: inside; 
}

.center-table {
  margin-left: auto;
  margin-right: auto;
  width: fit-content; 
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
    background-color:#31612b;
    color: white;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    background-color: #31612b;
    color: white;
}

.image-row {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-row img {
    width: 100%;
    max-width: 800px;
}

.data-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.data-table th {
    background-color: #31612b;
    color: white;
    padding: 10px;
}

.data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.data-table tr:nth-child(even) {
    background-color: #e0f2e0;
}


ul {
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.5;
}

ul li {
    margin-bottom: 6px;
}

ul {
    list-style-type: circle;
}

.graph-row {
    display: flex;
    gap: 30px;
    margin: 40px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.graph-card {
    width: 70%;
    background: #ffffff;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.08);
    text-align: center;
}

.graph-card img {
    width: 100%;
    border-radius: 76px;
}

.graph-card p {
    margin-top: 12px;
    font-size: 14px;
    color: #000000;
}

.two-graph-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.two-graph-card {
    width: 75%;
}

.two-graph-card img {
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}